<div class="my-browse">
<div class="browse-container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/browse-petitions/popular" class="nav-link" href="#" routerLinkActive="active">Popular <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a routerLink="/browse-petitions/recent" class="nav-link" href="#" routerLinkActive="active">Recent</a>
            </li>
            <li class="nav-item">
              <a routerLink="/browse-petitions/victories" class="nav-link" href="#" routerLinkActive="active">Victories</a>
            </li>
          </ul>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
    <!-- <br>
    <app-footer></app-footer> -->
  </div>