
<app-header></app-header>


<br/>
<h2> Security </h2>
<br/>
<br/>

<h3>
  Authentication and security is our primary concern
</h3>

<p>We use strong security measures designed so only you can access your info. 
  Rather than just a login and password, w
  e also notify you of account changes with data from a second source or with information only you will have,
   like special security questions or a code from a text message or email. Petitions.org provides all authentication for customers. </p>

<br/>
<h3>
  We safeguard the data of customer</h3>
<p>This site also provides a facility to chat with our robot chatbot. 
  It has various security features which safeguards customers identity.</p>
