<app-header></app-header>

    <br />
    <h2> Join Our Team </h2>
    <br />




    <h2>
        If you’re creative, hard-working, and are looking to make a difference, you might want to consider working with us.
    </h2>

    <p>
        We’re searching for the best and brightest, the most committed, and the folks that know what it takes to produce the best results the first time. 
        At the end of the day, it’s all about client results.    </p>

    <br />
    <h3>
        10% unstructured time</h3>
    <p>
        Key to our strategy has always been to attract and retain people who share our passion about the kind of Company we are trying to build, based on our core purpose and values: integrity and honesty, unending enthusiasm and continuing spirit of inquiry. 
        Because we believe in our core values, we continue to identify talented people who share these principles. 
        For us, our people are especially important.


    </p>

    <br />
    <h3>
        Design 4 Delight</h3>
    <p>
        We start with deep customer empathy- knowing customers knowing better than themselves.Then we go broad to go
        narrow.Small,cross functional teams fall in love with the
        problem and create many rough prototypes to tackle it.Finally, we carry out rapid experiments that involve
        customers, testing ideas until winner emerges.
    </p>

    <br />
    <h3>
        Petitions.org</h3>
    <p>
        Petitions.org
    </p>

    <br />
    <h3>
        Idea Jams</h3>
    <p>
        We are in a growth industry operating in an international environment; 
        from a personal and career development perspective, 
        there’s great potential for people to work in our various businesses, to travel to different places and to experience different cultures.


    </p>



