
<app-header></app-header>


<div class="container">
    <br />
    <h1> Terms and Conditions </h1>
    <br />
    <br />
    <h5>Date Last Revised for Petitions: December 13, 2019</h5>
    <br />
    <h6 class="subtitles">General Terms</h6>
    <br />
    <p>
        These terms and conditions outline the rules and regulations for the use of our website, located at Petitions.org.

By accessing this website we assume you accept these terms and conditions. 
Do not continue to use Website Name if you do not agree to take all of the terms and conditions stated on this page.

The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements:
 “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's terms and conditions. 
  Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of provision of the Company's stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.


    </p>

    <br />
    <h6 class="subtitles">Accepting the Terms</h6>
    <br />
    <p>
        By using the information, tools, features, software and functionality including content, updates and new
        releases provided by you agree to be bound by this
        Agreement, whether you are a “Visitor”, or a
        “Customer” (which means that you have registered for an account with us to use any one of our Services.) The
        term “you” or “User” refers to a Visitor, Member or Customer.  If you wish to
        become a Customer or want to make use of the Services, you must read this Agreement and indicate your acceptance
        during the registration process.
    </p>

    <br />
    <h6 class="subtitles">Description of the Services</h6>
    <br />
    <p>
       
    </p>


    <br />
    <h6 class="subtitles">Your Registration Information and Electronic Communications</h6>
    <br />
    <p>In order to allow you to use the Services, you will need to sign up for an account with Petitions.org.
        We may verify your identity. You authorize us to make any inquiries we consider necessary to validate your
        identity.
        These inquiries may include asking you for further information, requiring you to provide your full address,
        your date of birth, your social security number and/or requiring you to take steps to
        confirm ownership of your email address or financial instruments, ordering a credit report, or verifying
        information you provide against third party databases or through other sources. If you do not provide this
        information or Intuit cannot verify your identity, we can refuse to allow you to use the Services.
    </p>
    <br />
</div>




