<app-toast [message]="toast.message"></app-toast>

<div id="leftbox" style="display: inline;">
  <img src="https://media.gettyimages.com/photos/campaigners-carry-boxes-of-petitio
    ns-for-the-peoples-vote-and-the-picture-id1067932742?s=2048x2048" height="60%" width="68%">
</div>
<div class="card" id="leftbox" style="width: 30%;float: right;margin-top: 130px;">
  <h4 class="card-header">Create an Account</h4>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-group" [ngClass]="setClassUsername()" style="margin-bottom: 0px;">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input class="form-control" type="text" name="username"
               formControlName="username" placeholder="Username" autofocus>
               
      </div>
      <small class="text-muted">Enter minimum of 2 and maximum of 6 characters</small>
      <div class="input-group" [ngClass]="setClassEmail()" style="margin-top: 16px; margin-bottom: 0px;">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <input class="form-control" type="email" name="email"
               formControlName="email" placeholder="E-mail">
      </div>
      <small class="text-muted">Enter minimum of 3 and maximum of 100 characters</small>
      <div class="input-group" [ngClass]="setClassPassword()" style="margin-top: 16px; margin-bottom: 0px;">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-key"></i>
          </span>
        </div>
        <input class="form-control" type="password" name="password"
               formControlName="password" placeholder="Password">
      </div>
      <small class="text-muted">Enter minimum of 6 characters</small>
      <div class="input-group" style="margin-top: 16px; ">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-black-tie"></i>
          </span>
        </div>
        <select class="custom-select" name="role" formControlName="role">
          <option value="" selected disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <button class="btn btn-primary" style="margin-left: 160px;" type="submit" [disabled]="!registerForm.valid">
        <i class="fa fa-user-plus"></i> Register
      </button>
    </form>
  </div>
</div>