
<app-header></app-header>



<div class="container">
<h2> Press </h2>
<br/>
<h4>
    Press and Industry Analyst Relations Contacts
</h4>
<br />
<p>

    These numbers are for press and industry analyst relations only. All offices are in Mountain View, Calif., with the
    exception of TurboTax and Global offices in Canada, the U.K., Australia and India. For technical and product
    support, please refer to contact information on the product's Web site.

    Petitions.org provides assistance and information related to petitions. 
    Grow your nonprofit's list by reaching out to our 30+ million members, 
    using behavioral targeting and our members' self-expressed preferences. 
    This means you'll be promoting your campaign to people who are predisposed to supporting your cause.



</p>
<br />
<h6><b>Public Relations</b></h6>
With pettions.org you can
<br />
Recruit new donors members & supporters
<br />
Drive traffic to your website or landing page

<br />
Grow email subscribers

<br />
Grow your Facebook community


<br />
<br />
<h6><b></b></h6>
Mobilize grassroots activists

<br />
Integrate Direct Response Fundraising
<br />


<br />
<br />
<h6><b>Examples of results we delivered</b></h6>
Positive ROI within the first 9 months.
<br />
Tens of thousands of new supporters each year.
<br />
Senior Manager
<br />
HRC recruited an additional 30,000 new supporters.
<br />
</div>





