.progress-bar.progress-bar-striped.progress-easy{
    background-color: #fd0801;
  }
  
  .progress-bar.progress-bar-striped.progress-medium{
    background-color: #c1b706;
  }
  
  .progress-bar.progress-bar-striped.progress-hard{
    background-color: #8bdb06;
  }
  
  .progress-bar.progress-bar-striped.progress-very-hard{
    background-color: #00b006;
  }