.member-landing-plans{
    display: table;
    margin-top: 16px;
}

.pbxs .member-landing-plans-title{
    display: table-caption;
    
}


.mtxxl {
    margin-top: 40px !important;
}

.mtm {
    margin-top: 20px !important;
}

.mbxs{
    margin-right:20px;
    margin-bottom: 20px;
}

.second-row{
    margin-left:20px
}

.first-row{
    margin-left:20px
}


.container-fluid{
    background-color: #f3efef;
}

.btn:hover {
    border-color: #737273;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.btn-white {
    background: #fff;
}

.btn-full {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.btn-big {
    font-size: 1rem;
    padding: 12px 18px;
}

.media-heading{
    margin-left: 20px;
}

.hero-row{
    width: 100%!important;
    margin-left: 0px!important;
    border-radius: 10px;
    border: 2px solid peachpuff;
    background: #f3efef;
    font-family:  "Segoe UI";
}

.media-body{
    margin-left: 24px;
}


.media-left{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 25px;
    border: 2px solid rgb(235, 55, 55);
    padding: 20px;
    width: 38%;
    height: 100%;
}

#frb-inline {
    display: table;
    position: relative;
    background: white;
    color: black;
    font-size: 14px;
    margin: 12px 0 38px;
    border: 5px solid #900;
    margin-right: 32px;
}

.frb, .frb *, .frb *:before, .frb *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.frb-inline-topbar {
    width: 100%;
    padding: 6px 10px 9px 10px;
    text-align: center;
    background-color: #900;
    color: #fff;
    display: inline-block;
    z-index: 999;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.125;
}

.frb-inline-main {
    padding: 14px 16px 16px;
}

