
<app-header></app-header>

<div>
<br/>
<h2> Privacy</h2>
<br/>
<br/>

<h3>Privacy Statement</h3>
<p>
To learn more about changes in this Statement please review our FAQ

Last Updated: December 13, 2019

We pride ourselves on our commitment to protecting your privacy.  Our principles reflect our company’s values and how we strive to maintain your privacy. This Privacy Statement describes in greater detail the privacy practices and its affiliates and subsidiaries, meaning companies related by common ownership or control responsible for collecting and maintaining certain information collected about you.
</p>

<h6>
  WHAT WE DO WITH YOUR INFORMATION. We want to be clear about what information we collect and how we use it to deliver our Services to you, improve  your financial life, operate our business, and help make our Services useful, more intelligent, and work better for you. We do not sell or share your Personal Information with third parties for their own commercial uses without your consent.
</h6>
<p>
  We collect information when you register or open an account, sign in, pay a bill, purchase a Service, call us for support, or give us feedback.  We may also get information from other companies or third parties, such as when you sync a third party account or service with your Intuit Service, or when we may use service providers to supplement the Personal Information you give us (e.g., validate your mailing address) to help us maintain the accuracy of your data and provide you with better service. 
  Finally, we also collect content or other information that you may provide or create when you interact with our Services.
</p>

<p>
  We may also automatically collect certain usage information when you access our Services ("Usage Data"), 
  
  such as Internet Protocol (“IP”) addresses, log files, unique device identifiers, pages viewed, browser type, any links you click on to leave or interact with our Services, and other usage information collected from cookies and other tracking technologies. For example, we collect IP addresses to track and aggregate non-personal information, such as using IP addresses to monitor the regions from which users navigate to our Services.  We also collect IP addresses from users when they log into the Services as part of our log-in and security features.  We may also, when you enable location-based Services, collect Global Positioning System (GPS) location data and/or motion data.
</p>

<br/>
<h4>
  Cookies and Similar Tracking Technologies</h4>
<p>
  In accordance with applicable law, Intuit and our service providers may use commonly-used tools to recognize your visit and track your interactions with our Services such as cookies, web beacons, pixels, local shared objects, and similar technologies (collectively, "Cookies").  Sometimes this tracking is necessary in order for us to provide you the Service you requested.  Other times, we combine Usage Data collected from Cookies with that of other customers to improve your and other customers' experience.  You have control over some of the Usage Data we collect from Cookies and how we use it.  Information on changing your browser settings to opt out of Cookies can be found in your browser settings. 

advertising networks and other third parties to display advertising on our website or to manage our advertising on other sites.  Our third party partners may place Cookies on our Services and unaffiliated websites in order to serve advertisements that may be relevant to you based on your browsing activities and interests, and to determine the effectiveness of such advertisements.  If you wish to opt out of interest-based advertising, click here, or if located in the European Union, click here.
</p>

</div>


















