
<app-header></app-header>


<br />
<div class="container">
    <h2> Affiliates and Partners </h2>
    <br />
    <br />
    <h4>
        Reach people who matter most to your business
    </h4>
    <p>
        Partner with us and reach millions of engaged users who are actively managing their case flow, budgets, and
        investments. Take advantage of the ability to reach individuals who are looking for new
        ways
        to save and invest money, enabling you to get the most value from your ad spend.
    </p>
    <br />
    <h2>Partners</h2>
    <p>
       Partners are the supporters of our website. They help us in being successfull. They support us by donating for the petitions and subscribing with us.  
    </p>
</div>

